:root{
    --orange: #d95550;
    --lightOrange:#dd6662;
    --veryLightOrange:#f89e8b;
    --grey:#55557b;
    --white:#fff;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: var(--orange);
}

h1{
    margin-top: 200px;
    color: var(--white);
    text-align: center;
}

form{
    width: 400px;
    margin: 45px auto;
    text-align: center;
}

form input[type="text"]{
    background-color: var(--orange);
    color: var(--white);
    border-style:none ;
    font-size: 1.5em;
}

form input[type="text"]::placeholder{
    color: var(--lightOrange);
}

form input[type="text"]:focus{
    outline: none;
}

form input[type="submit"]{
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    color: var(--orange);
}

form input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--veryLightOrange);
    color: var(--white);
}

.list-contenedor{
 width: 400PX;
 margin: 0 auto;   
}

.task-contenedor{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    margin: 6px;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--grey);
}

.close-btn{
   width:15px ;
   height: 15px;
}
.close-btn:hover{
    cursor: pointer;
}

#stats{
    margin-top: 25px;
    font-size: 1.3em;
    color: var(--veryLightOrange);
    text-align: center;
}